COVE_DATABASE_URL=postgres://cove_app:password@localhost:5432/cove_db
COVE_MIGRATE_DATABASE_URL=postgres://cove_migrator:password@localhost:5432/cove_db
COVE_CLIENT_SECRET=Kept Empty
VAULT_ENCRYPTION_KEY=Kept Empty

# Per environment variables replaced in docker-compose. MUST be set on first time start
APP_ENV=DEV
APP_PORT=2110
APP_ENV_PATH=.env
APP_VAULT_PATH=internal/encryption/vault.json
APP_MARKER_PATH=./markers